<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>MK-Todo-List App</title>

    <!-- CSS-Stylesheet -->
    <link rel="stylesheet" href="css/style.css" />

    <!-- Favicon-Icon for Title-bar -->
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
  </head>

  <body></body>
</html>
